*{padding: 0;margin: 0;list-style: none;}
.margin{width: 1200px;margin: 0 auto;}


#main{width: 1200px;border: 1px solid #ededed ;margin: 200px auto 145px;cursor: pointer;position: relative;min-height: 546px;}
#main .main{margin: 0 auto; width: 1200px;min-height: 300px;margin-bottom: 50px}
/* 
#main .top .form{margin: 0 auto}
#main .top tr{text-align: center;margin-top:100px} */
#main  ul{width: 1000px;margin: 0 auto;}
#main .top{overflow: hidden;height: 50px;width: 1200px;font: 14px/50px "";background: #f9f9f9;margin: 0 auto;}
#main .low{font: 14px/80px "";}
#main .top ul li{float: left;margin-right: 100px}
#main .top ul li:nth-child(3){margin-right:165px }
#main .top ul li:last-child{margin-right:0px }
#main .load {margin-top: 20px;overflow: hidden;height: 80px;border-bottom: 1px #bdbdbd dashed;width: 1200px;}
#main .load ul li{width:52px;float: left;margin-right: 72px}
#main .load ul li:nth-child(1){float: left;margin-right: 42px;width:70px}
#main .load ul li:nth-child(2){float: left;margin-right: 50px;width:70px}
#main .load ul li:nth-child(3){float: left;margin-right: 18px;width:200px}
#main .load ul li:nth-child(5){width: 100px;margin: 30px 46px 0 0;}
/* #main .load ul li:nth-child(3){float: left;margin-right: 50px;width:200px} */
#main .load ul li img{width: 80px;height: 57px;}
#main .load ul li p{width: 200px;font-size: 12px;color: #333;}
#main .load ul li .cont1{width: 50px;float: left;}
#main .load ul li button{float: left;height: 20px;}
#main .total{position: absolute;right: 314px;bottom: 5px;font: 14px/80px "";}
#main .total .total1{width: 200px}
#main .settlement{position: absolute; bottom: 28px;right: 200px;}
#main .settlement input{width:78px;border-radius: 5px;height: 40px;border: 0;background: #26cad3;color: #fff; }